* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: red;
  @include size(sm) {
    background: purple;
  }
  @include size(md) {
    background: green;
  }
  @include size(lg) {
    background: magenta;
  }
  @include size(xl) {
    background: turquoise;
  }
}
